<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxk.campusbazaar.api.mapper.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.bxk.campusbazaar.pojo.Merchant">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="license_img" jdbcType="VARCHAR" property="licenseImg" />
    <result column="id_card_img" jdbcType="VARCHAR" property="idCardImg" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="total_sales" jdbcType="INTEGER" property="totalSales" />
    <result column="wallet_balance" jdbcType="DECIMAL" property="walletBalance" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bxk.campusbazaar.pojo.Merchant">
    insert into merchant (user_id, license_img, id_card_img,
      level, total_sales, wallet_balance
      )
    values (#{userId,jdbcType=BIGINT}, #{licenseImg,jdbcType=VARCHAR}, #{idCardImg,jdbcType=VARCHAR},
      #{level,jdbcType=TINYINT}, #{totalSales,jdbcType=INTEGER}, #{walletBalance,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bxk.campusbazaar.pojo.Merchant">
    update merchant
    set license_img = #{licenseImg,jdbcType=VARCHAR},
      id_card_img = #{idCardImg,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      total_sales = #{totalSales,jdbcType=INTEGER},
      wallet_balance = #{walletBalance,jdbcType=DECIMAL}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select user_id, license_img, id_card_img, level, total_sales, wallet_balance
    from merchant
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, license_img, id_card_img, level, total_sales, wallet_balance
    from merchant
  </select>
</mapper>
