<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxk.campusbazaar.mapper.ProductCommentMapper">
  <resultMap id="BaseResultMap" type="com.bxk.campusbazaar.pojo.ProductComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="star_rating" jdbcType="TINYINT" property="starRating" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bxk.campusbazaar.pojo.ProductComment">
    insert into product_comment (id, product_id, user_id, 
      star_rating, created_at, content
      )
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{starRating,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bxk.campusbazaar.pojo.ProductComment">
    update product_comment
    set product_id = #{productId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      star_rating = #{starRating,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_id, user_id, star_rating, created_at, content
    from product_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, user_id, star_rating, created_at, content
    from product_comment
  </select>
</mapper>