<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxk.campusbazaar.api.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.bxk.campusbazaar.pojo.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="discount_price" jdbcType="DECIMAL" property="discountPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_bargain" jdbcType="BIT" property="isBargain" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="nob" jdbcType="INTEGER" property="nob" />
  </resultMap>

  <!--测试语句-->
  <select id="test" resultType="java.lang.String">
    SELECT CONCAT('%', #{name}, '%');
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bxk.campusbazaar.pojo.Product"  useGeneratedKeys="true" keyProperty="id">
    insert into product (id, name, category,
      original_price, discount_price, stock,
      merchant_id, is_bargain,
      `condition`, description)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR},
      #{originalPrice,jdbcType=DECIMAL}, #{discountPrice,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER},
      #{merchantId,jdbcType=BIGINT}, #{isBargain,jdbcType=BIT},
      #{condition,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>

  <!--购买人数++-->
  <update id="updateNobByPrimaryKey">
    update product
    set nob = #{nob,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateProductStatusByPrimaryKey">
    update product
    set status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateProductStatus">
    update product
    set status = 1
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, category, original_price, discount_price, stock, merchant_id, status,
    is_bargain, `condition`, description, nob
    from product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from product
  </select>

  <select id="selectByLikeName" resultMap="BaseResultMap">
    SELECT *
    FROM product
    WHERE name LIKE CONCAT('%', #{name}, '%')
    ORDER BY id
  </select>
  <select id="selectByStatus" resultType="com.bxk.campusbazaar.pojo.Product">
    SELECT *
    FROM product
    WHERE status = #{status}
    ORDER BY id
  </select>
  <select id="selectProductImgs" resultType="java.lang.String">
    SELECT image_url
    FROM product_image
    WHERE product_id = #{productId}
  </select>
</mapper>
