<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxk.campusbazaar.mapper.ProductImageMapper">
  <resultMap id="BaseResultMap" type="com.bxk.campusbazaar.pojo.ProductImage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="is_main" jdbcType="BIT" property="isMain" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_image
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bxk.campusbazaar.pojo.ProductImage">
    insert into product_image (id, product_id, image_url, 
      is_main)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{imageUrl,jdbcType=VARCHAR}, 
      #{isMain,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bxk.campusbazaar.pojo.ProductImage">
    update product_image
    set product_id = #{productId,jdbcType=BIGINT},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      is_main = #{isMain,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_id, image_url, is_main
    from product_image
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, image_url, is_main
    from product_image
  </select>
</mapper>