<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxk.campusbazaar.api.mapper.UserProfileMapper">
    <resultMap id="BaseResultMap" type="com.bxk.campusbazaar.pojo.UserProfile">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="bio" jdbcType="VARCHAR" property="bio" />
        <result column="wechat" jdbcType="VARCHAR" property="wechat" />
        <result column="delivery_address" jdbcType="VARCHAR" typeHandler="com.bxk.campusbazaar.handler.JsonTypeHandler" property="deliveryAddress" />
    </resultMap>

    <insert id="insert" parameterType="com.bxk.campusbazaar.pojo.UserProfile" useGeneratedKeys="true" keyProperty="userId">
        insert into user_profile (user_id, avatar, bio, wechat, delivery_address)
        values (#{userId,jdbcType=BIGINT}, #{avatar,jdbcType=VARCHAR}, #{bio,jdbcType=VARCHAR},
                #{wechat,jdbcType=VARCHAR}, #{deliveryAddress,typeHandler=com.bxk.campusbazaar.handler.JsonTypeHandler,jdbcType=VARCHAR})
    </insert>

    <update id="updateProfile">
        UPDATE user_profile
        <set>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="bio != null">
                bio = #{bio,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="deliveryAddress != null">
                delivery_address = #{deliveryAddress,typeHandler=com.bxk.campusbazaar.handler.JsonTypeHandler,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE user_id = #{userId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select user_id, avatar, bio, wechat, delivery_address
        from user_profile
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user_profile
        where user_id = #{userId,jdbcType=BIGINT}
    </delete>
</mapper>
