<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxk.campusbazaar.api.mapper.WalletMapper">
  <resultMap id="BaseResultMap" type="com.bxk.campusbazaar.pojo.Wallet">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wallet
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bxk.campusbazaar.pojo.Wallet">
    insert into wallet (user_id, balance, integral
      )
    values (#{userId,jdbcType=BIGINT}, #{balance,jdbcType=DECIMAL}, #{integral,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bxk.campusbazaar.pojo.Wallet">
    update wallet
    set balance = #{balance,jdbcType=DECIMAL},
      integral = #{integral,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select user_id, balance, integral
    from wallet
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, balance, integral
    from wallet
  </select>
</mapper>
